@model YAShop.Web.Storefront.Models.CatalogModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Yet another store catalogue</h1>
<div class="row">
    @Html.Partial("ProductList", Model.Products)
</div>
