@model YAShop.Web.Storefront.Models.CatalogModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="text-center">Yet another store catalog</h1>
    @Html.Partial("ProductList", Model.Products)

