@{
    ViewData["Title"] = "Home Page";
}

<a href="~/Home/ViewProduct">Просмотр списка продуктов</a><br />
<a href="~/Home/ViewProductEdit">Выбор продукта для редактирования</a><br />
<a href="~/Home/ProductImport">Импорт продуктов из файла</a><br />