@using Sprut.MyShop

@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

<a href="~/Product/ImportXLS">Импорт продуктов из файла Excel</a><br />
<a href="~/Product/Edit">Добавить новый продукт</a><br />
<a href="~/Product/Category">Работа с категориями</a><br />

<table>
    <tr>
        <td>Name Category</td>
        <td>Edit</td>
        <td>New SubCat</td>
        <td>Delete</td>
    </tr>
    
    @foreach (var c in ViewBag.Categorys)
    {
        <tr>
            <td>@c.Name</td>
            <td>@Html.ActionLink("Edit", "CatEdit", new { guid= c.Id.ToString(), act="edit"})</td>
            <td>@Html.ActionLink("NewSub", "CatEdit", new { guid = c.Id.ToString(), act = "new" })</td>
            <td>Delete</td>
        </tr>
    }

</table>