
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/Product/ViewAllProduct">Просмотр списка продуктов</a><br />
<a href="~/Product/ViewAllProductForEdit">Выбор продукта для редактирования</a><br />
<a href="~/Product/ProductImportXLS">Импорт продуктов из файла</a><br />
<a href="~/Product/AddProduct">Добавить новый продукт</a><br />

