@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Please sign in</h2>
        @using (Html.BeginForm("Login", "Account"))
        {
            <div><input type="text" placeholder="Login" name="login"/></div>
            <div><input type="password" placeholder="Login" name="pass"/></div>
            <div><input type="submit" value="Login"/></div>
        }
    </div>

</div>