@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="text-center">Welcome to Yet Another Shop</h1>
    
    <h3 class="mt-4 text-center">Top selling products</h3>
        @Html.Partial("ProductList", Model.TopProducts)
    <h3 class="mt-4 text-center">New products</h3>
        @Html.Partial("ProductList", Model.LatestProducts)
</div>
